.row {
    display: flex;
    min-height: 100%;
}

.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 85px;
    height: 100%;
    border-radius: 0;
    position: fixed; 
}

.wd-kanbas-navigation a {
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation.row.col-2.list-group.wd-kanbas-navigation.active {
    background-color: black;
    
}

/* <a> background color */
.wd-kanbas-navigation a.wd-active {
    background-color: white;
    color: red;
}

/* Account icon color as grey when it is active(clicked) */
.wd-kanbas-navigation a.wd-active i.fa-user-circle-o {
    color: grey;
}

/* Account icon color as white */
.wd-kanbas-navigation a i.fa-user-circle-o {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a i {
    color: red;
    font-size: 2.5em;
    margin-bottom: 5px;
}

.wd-kanbas-navigation a i.fa-question-circle {
    font-size: 3.1em;
}
