.wd-courses {
    margin: 30 30 30 0px;
}

.wd-card {
    margin: 15px;
    padding: 0px;
    width: 270px;
}

.wd-left-align {
    text-align: left;
}

.wd-btn {
    padding: 0px;
}

.card-image-top {
    border: none;
}

.wd-course-link {
    text-decoration: none;
}

.wd-card .card-title {
    color: blue;
}

.wd-card .card-subtitle {
    color: gray;
}

.wd-course-edit-icon {
    color: gray;
    font-size: 2em;
}

.wd-edit-btn {
    margin-right: 5px;
}

.wd-new-course-fields .form-control {
    width: 250px;
    margin-right: 20px;
}

.wd-add-btn {
    margin-right: 5px;
}
