.wd-assignment-searchbar {
    width: 250px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.list-group .wd-assignment-items-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
}

.wd-assignment-item {
    width: 100%;
    min-height: 65px;
    text-decoration: none;
    color: black;
}

.wd-edit-icon {
    margin-right: 10px;
    color: lightgray;
    font-size: 1.5em;
}

.wd-assignment-check-icon {
    color: green;
    font-size: 1.5em;
}

.wd-assignment-threedots-icon {
    font-size: 1.5em;
}

