.wd-lighter-inner-line {
    color: gray;
}

.wd-check-mark {
    font-size: 1.3em;
    color: green;
    margin-right: 5px;
}

.wd-published {
    margin: 0px;
    margin-right: 5px;
    color: green;
}

.wd-assignment-points {
    margin-left: 15px;
}

.wd-assignment-assign {
    margin-left: 10px;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 100%;
}

