.wd-course-navigation {
    background-color: white;
    list-style: none;
    /* padding: 0px 0px 0px 20px; */
    width: 200px;
    margin: 0px;
    border-radius: 0;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.wd-course-navigation li {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-course-navigation a.wd-active {
    border-left: 2px solid black;
    color: black;
}

/* .wd-course-navigation .wd-active a {
    color: black;
} */

.wd-course-navigation a {
    color: red;
    text-decoration: none;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}